.hamburger {
  display: flex;
  flex-direction: column;
  width: 2.2rem;
  height: 2.3rem;
  cursor: pointer;
  align-items: flex-end;

  @media (max-width: 640px) {
    transform: scale(0.9);
  }
  @media (max-width: 768px) {
    transform: scale(0.8);
  }
}

.hamburger span {
  /* background: #5e5b5a; */
  border-radius: 10px;
  height: 0.25rem;
  margin: 3px 0;
  transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1) {
  width: 50%;
}

.hamburger span:nth-of-type(2) {
  width: 100%;
}

.hamburger span:nth-of-type(3) {
  width: 75%;
}

.hamburger__checked span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(-45deg) translate(-3px, 0px);
}

.hamburger__checked span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(45deg);
}

.hamburger__checked span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(-15px, -5px) rotatez(-45deg);
}
